/*Navigation Styling*/

nav ul {
    list-style-type: none;
    padding: 0px 0px;
    margin:0px;
}

nav ul li {
    background-color:#12642D;
    font-size: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    opacity: 75%;
}

#welcomeMessage {
    border-bottom: solid 3px #12642D;
}

#welcomeMessage p {
    margin-right: 125px;
    margin-bottom: 0px;
}

/*Donation Section Styling*/

#donationValues button {
    width: 80px;
    background-color: #93C11F;
    border-radius: 15px;
}
#donate {
    margin: 0px 250px;
}

#donate p {
    /* font-size: 10px; */
    margin-top: 0px;
}

#donationDisplay {
    font-size: 36px;
    margin-bottom: 0px;
} 

#donate h2 {
    font-size: 30px;
    margin-bottom: 5px;
}

#donateBtn {
    margin-top: 10px;
    width: 150px;
}

#howToHelp {
    border-right:#12642D 3px solid;
}

main {
    border-bottom: 3px solid #12642D;
}

iframe {
    margin-bottom: 10px;
}

.container {
    margin: 0px;
    padding: 0px;
}

/* Contact Section Styling */

#contact {
    text-align: center;
    border-top:#12642D 3px solid; 
    background-color: lightgray;
}

form ul {
    padding-left: 0px;
}

form ul li {
    list-style-type: none;
    margin: 5px;
} 

section form input {
    margin-bottom: 15px;
    width: 200px;
}

#messageInput {
    height: 175px;
    width: 250px;
    padding: 10px;
    resize: none;
}


/*Peronal styling for the bootstrap accordion. Overwrites the styling provided by the bootsrap library */

.accordion-item {
    border: none;
    padding: 0px;
    margin: 0px;
}

.accordion-header {
    text-align: center;
    border-radius: 0px;
}

.accordion-button:not(.collapsed) {
     background-color:#12642D;
  }

.accordion-body {
    text-align: center;
    margin:0px;
    padding:0px;
    padding-left: 0px;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    font-weight:bold;
}

.accordion-collapse.collapse.show {
    padding: 0px;
    margin: 0px;
}
.accordion-button{
    display:block;
    text-align: center;
    height: 20px;
}

.accordion-button:focus{
    box-shadow: none;
    outline: none;
    border: none;
  }

.accordion {
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
}

accordion-button.collapsed {
    padding: 0px;
    color: white;
}

.accordion-collapse {
    margin: 0px;
    padding: 0px;
}

.accordion button {
    font-weight:bold;
    font-size: 25px;
    color: white;
    background-color:#12642D;
    margin-left: 0px;
    border-radius: none;
    width: 100%;
    padding-bottom: 35px;
    padding-top: 0px;
}

.accordion-item {
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: none;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.accordion-item:last-of-type .accordion-button.collapsed {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/*Slider styling*/

#slider {
    border-top: 3px #12642D solid;
    border-bottom: 3px #12642D solid;
}


#slider {
    overflow: hidden;
    width: 100%;
    height: 800px;
}
 #slide1, #slide2  {
    height: 750px;
    width: 95%;
    background-size: cover;
    background-position: center;
    background-image: url(../Media/careCentre.jpg);
    display:flex;
    position: absolute;
    animation: slide 20s infinite;
    animation-delay: 0s; 
}

#slide2 {
    animation-delay: -10s;
    background-image: url(../Media/careHousingStats.jpg);

}

 @keyframes slide {
    0%, 45%, 100% {
        transform: translateX(0);
        animation-timing-function: ease;
    }
    50% {
        transform: translateX(-150%);
        animation-timing-function: step-end;
    }
    95% {
        transform: translateX(100%);
        animation-timing-function: ease;
    }
}
