#welcomeMessage {
    border-bottom: solid 3px #12642D;
}

#welcomeMessage p {
    margin-right: 125px;
    margin-bottom: 0px;
}

/*Donation Section Styling*/

#donationValues button {
    width: 80px;
    background-color: #93C11F;
    border-radius: 15px;
}

#donate {
    margin: 0px 250px;
}

#donate p {
    /* font-size: 10px; */
    margin-top: 0px;
}

#donationDisplay {
    font-size: 36px;
    margin-bottom: 0px;
}

#donate h2 {
    font-size: 30px;
    margin-bottom: 5px;
}

#donateBtn {
    margin-top: 10px;
    width: 150px;
}

#howToHelp {
    border-right: #12642D 3px solid;
}

main {
    border-bottom: 3px solid #12642D;
}

iframe {
    margin-bottom: 10px;
}

.container {
    margin: 0px;
    padding: 0px;
}

/* Contact Section Styling */

#contact {
    text-align: center;
    border-top: #12642D 3px solid;
    background-color: lightgray;
}

form ul {
    padding-left: 0px;
}

form ul li {
    list-style-type: none;
    margin: 5px;
}

section form input {
    margin-bottom: 15px;
    width: 200px;
}

#messageInput {
    height: 175px;
    width: 250px;
    padding: 10px;
    resize: none;
}


/*Slider styling*/

#slider {
    border-top: 3px #12642D solid;
    overflow: hidden;
    width: 100%;
    height: 500px;
    margin: 0;
    margin-left: 30px;
    padding: 0;
    box-sizing: border-box;
}

#slide1,
#slide2,
#slide3 {
    margin-top: 45px;
    height: 450px;
    width: 95%;
    background-size: cover;
    background-position: center;
    background-image: url(../Media/givingFood.jpeg);
    position: absolute;
    animation: slide 21s infinite;
    animation-delay: 0s;
    animation-play-state: running;
}

#slide1 p, #slide2 p, #slide2 ul, #slide2 ul li, #slide3 p {
    font-weight: bold;
    color: white;
    font-size: 28px;
    text-align: center;
    visibility: hidden;
    list-style-type:none;
}

#slide1:hover {
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(../Media/givingFood.jpeg);
    padding: 150px;
}

#slide2:hover {
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(../Media/Food.jpeg);
    padding: 50px;
}

#slide3:hover {
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(../Media/helpingPeople.jpg);
    padding: 85px;
}

#slide1:hover p, #slide2:hover p, #slide2:hover ul, #slide2:hover li, #slide3:hover p{
    visibility:visible;
}

@media screen and (max-width: 1080px) {

    #slide1,
    #slide2 {
        height: 750px;
    }

    .slider {
        height: 800px;
    }

    #£5Button,
    #£10Button,
    #£25Button {
        margin-left: 0px;
        margin-right: 0px;
    }
}

#slide2 {
    animation-delay: -7s;
    background-image: url(../Media/Food.jpeg);
}

#slide3 {
    animation-delay: -14s;
    background-image: url(../Media/helpingPeople.jpg);
}

@keyframes slide {

    0%,
    28%,
    100% {
        transform: translateX(0);
        animation-timing-function: ease;
    }

    33% {
        transform: translateX(-150%);
        animation-timing-function: step-end;
    }

    95% {
        transform: translateX(100%);
        animation-timing-function: ease;
    }
}

button {
    border: black 2px solid;
    border-radius: 20px;
    height: 30px;
    width: 165px;
    background-color: #93C11F;
}

#pause {
    margin: 8px;
}